<div class="container">
    <div style="height: 75px;"></div>
    <div class="p-1 text-center">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <h1><b>Portfolio</b></h1>
    </div>

    <div class="container" *ngFor="let portfolioL of portfolio; let i = index">
        <div class="card">
            <div class="card-body">
                {{portfolioL.ticker}}
                {{portfolioL.name}}
                {{portfolioL.last}}
                {{portfolioL.last - portfolioL.prevClose}}
                {{(portfolioL.last - portfolioL.prevClose)*100/portfolioL.prevClose}}%
                quantity{{portfolioL.quantity}}
                <button (click)="buy(i, 2)">Buy</button>
                <button (click)="sell(i, 2)">sell</button>
            </div>
        </div>
    </div>
</div>