<div class="container">
    <div style="height: 75px;"></div>
    <div class="p-1 text-center">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <h1><b>Portfolio</b></h1>
    </div>

    <div class="container" *ngFor="let portfolioL of portfolio; let i = index">
        <div class="card">
            <div class="card-body">
                ticker name{{portfolioL.ticker}}
                name of the company{{portfolioL.name}}
                current price{{portfolioL.last}}
                change{{portfolioL.last - portfolioL.prevClose}}
                quantity{{portfolioL.quantity}}
                total Cost{{portfolioL.totalCost}}
                average Cost{{portfolioL.averageCost}}
                market value{{portfolioL.quantity*portfolioL.last}}
                <button (click)="buy(i, 2)">Buy</button>
                <button (click)="sell(i, 2)">sell</button>
            </div>
        </div>
    </div>
</div>