.bi-star-fill {
    color: yellow;
}

.bi-caret-up-fill {
    color: green;
}

.bi-caret-down-fill {
    color: red;
}

.alert {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}